@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-3">Welcome to the Grocery list app!</h2>


</div>

<div>
    <h3 class="display-4" style="text-align:center">What this app can do:</h3>
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex; flex-direction: column; align-items: center;">
        <li style="margin: 10px 0; font-size: 24px; font-weight: bold; display: flex; align-items: center;">
            <a href="#"> <span style="margin-right: 10px;">&#128196;</span>Create a shopping list </a>
        </li>
        <li style="margin: 10px 0; font-size: 24px; font-weight: bold; display: flex; align-items: center;">
            <a href="#"> <span style="margin-right: 10px;">&#128065;</span>See my lists </a>
        </li>
        <li style="margin: 10px 0; font-size: 24px; font-weight: bold; display: flex; align-items: center;">
            <span style="margin-right: 10px;">&#128101;See shared lists </span>
        </li>
    </ul>

</div>
